@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=7cHpv4kjgoGqM7EPCg&skey=32d7acf8757dbad0&v=v13);
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxhTw&skey=cd068b3e1b767e51&v=v17);
}
